<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cover.css' %}">
<!--    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
    <title>LOSAI</title>
</head>

<body class="container2">
    <header>
        <nav class="navbar">
            <a class="left" href="{% url 'index' %}">LOSAI</a>
            <span class="right">
                <a href="{% url 'index' %}">HOME </a>
                <!-- <a href="{% url 'map' %}">MAP </a> -->
                <a href="{% url 'contact' %}">CONTACT</a>
            </span>
        </nav>
    </header>

    <main>
        <h1 class="title1">Contact</h1>
        <p class="body1">https://github.com/sunmingLee
          <br><br>https://github.com/eunsuh753
          <br><br>tree8798@ewhain.net
          <br><br>https://github.com/dbsgkdud136</p>
    </main>
    
</body>

</html>