<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cover.css' %}">
<!--    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
    <title>LOSAI</title>
</head>

<body class="container">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{% url 'index' %}">LOGO</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
    </div>
</nav> -->
    <header>
        <nav class="navbar">
            <a class="left" href="{% url 'index' %}">LOGO</a>
            <span class="right">
                <a href="{% url 'index' %}">HOME </a>
                <!-- <a href="{% url 'map' %}">MAP </a> -->
                <a href="{% url 'contact' %}">CONTACT</a>
            </span>
        </nav>
    </header>
    <!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">LOGO</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="{% url 'map' %}">Map</a>
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </nav>
    </div>
  </header>
 -->
    <main class="text-center">
        <h1 class="title1">The Length of Stay for Patients</h1>
        <p class="body1">This web-page predicts the length of hospitalization </br>for patients who want to know this in advance.</p>
            <form action = "{% url 'input' %}">
            {% csrf_token %}
            <input class="button1" type="submit" value="Predict">
        </form>
    </main>
    
</body>

</html>