<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cover.css' %}">
    <title>LOSAI</title>
</head>

<body class="container">
    <header>
        <nav class="navbar">
            <a class="left" href="{% url 'index' %}">LOSAI</a>
            <span class="right">
                <a href="{% url 'index' %}">HOME </a>
                <a href="{% url 'contact' %}">CONTACT</a>
            </span>
        </nav>
    </header>
   
    <main class="text-center">
        <h1 class="title1">The Length of Stay for Patients</h1>
        <p class="body1">This web-page predicts the length of hospitalization </br>for patients who want to know this in advance.</p>
            <form action = "{% url 'input' %}">
            {% csrf_token %}
            <input class="button1" type="submit" value="Predict">
        </form>
    </main>
    
</body>

</html>