<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">
    <title>LOSAI</title>

    <style>
         table {
        width: 40%;
      }
      select {
    
    width: 185px;
    height: 34px;
}
  </style>
</head>

<body class="container2">
    <header>
        <nav class="navbar">
            <a class="left" href="{% url 'index' %}">LOSAI</a>
            <span class="right">
                <a href="{% url 'index' %}">HOME </a>
                <a href="{% url 'contact' %}">CONTACT </a>
            </span>
        </nav>
    </header>

    <div class="body1">
        <h1></br>PREDICTION</h1>
        <form action="{% url 'result' %}">
            {% csrf_token %}
            <table>
                <tr>
            <td><label for="age"> Age </td><td><input type="text" class="form-control" name="Age" id="age" required></label></td></tr>
            <tr><td>
            <label for="room"> Extra Rooms
                <input type="button" value="?" style="CURSOR:hand;" title="Number of extra rooms available in the hospital"> </td><td>
                <input type="text" class="form-control" name="Available_Extra_Rooms_in_HosPital" id="room" required></label></td></tr>
            <tr><td>
            <label for="deposit">Admission Deposit($)
                <input type="button" value="?" style="CURSOR:hand;" title="Deposit at the Admission Time ($)"></td><td>
                <input type="text" class="form-control" name="Admission_Deposit" id="deposit" required></label></td></tr>
            <tr><td>
            <label for="severity">Severity of Illness
                <input type="button" value="?" style="CURSOR:hand;" title="Severity of the illness recorded at the time of admission which gives a medical classification into minor(0), moderate(1), and extreme(2). This class is meant to provide a basis for evaluating hospital resource use or to establish patient care guidelines."></label></td>
            <td><select name = "severity" class="custom-select d-block w-100" required>
                <option value>Choose...</option>
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
            </select>
            </td></tr>
        
            <tr><td>
            <label for="department">Department <input type="button" value="?" style="CURSOR:hand;" title="Department overlooking the case classified as radiotherapy, gynecology, anesthesia, TB & Chest disease and surgery"></label></td>
            <td><select name = "department" class="custom-select d-block w-100" required>
                <option value>Choose...</option>
                <option value=0>radiotherapy</option>
                <option value=1>anesthesia</option>
                <option value=2>gynecology</option>
                <option value=3>TB & Chest diease</option>
                <option value=4>surgery</option>
            </select></td>
            <tr><td>
            <label for="admission">Type of Admission <input type="button" value="?" style="CURSOR:hand;" title="Admission type registered by the hospital indicating the priority of this admission.
Emergency means that the patient requires immediate medical intervention as a result of severe, life threatening or potentially disabling conditions.
Urgent means that the patient requires immediate attention for the care and treatment of a physical or mental disorder.
Trauma means the patient visits a trauma center, a facility licensed or designated by the State or local government authority authorized to do so."></label></td><td>
            <select name = "admission" class="custom-select d-block w-100" required>
                <option value>Choose...</option>
                <option value=0>trauma</option>
                <option value=1>urgent</option>
                <option value=2>emergency</option>
            </select></td></tr></table>
            <br><br>
            <input class="button1" type="submit" value='Get Prediction' onClick="location.href={% url 'result' %}">
        </form>

        
    </div>
</body>

</html>