asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.7
idna==2.10
joblib==1.0.1
lightgbm==3.1.1
numpy==1.20.1
pytz==2021.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
sqlparse==0.4.1
threadpoolctl==2.1.0
urllib3==1.26.4
